<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User-Edit</title>
</head>
<body>

<h1>Registration page</h1>

<form action="#" th:action="@{/registration}" th:object="${user}" method="post">
    <div>
        <label>Username (Login)</label><br>
        <input type="text" th:field="*{login}"/>
        <label th:if="${#fields.hasErrors('login')}" th:errors="*{login}"/>
    </div>
    <div>
        <label>Set password</label><br>
        <input type="text" th:field="*{password}"/>
        <label th:if="${#fields.hasErrors('password')}" th:errors="*{password}"/>
    </div>
    <div>
        <label>Email</label><br>
        <input type="text" th:field="*{email}"/>
        <label th:if="${#fields.hasErrors('email')}" th:errors="*{email}"/>
    </div>
    <input type="submit" value="Done!"/>
</form>

</body>
</html>