<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
          
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    <title>UsersList</title>
</head>
<body>

<h1>All Users List</h1>

<form th:action="@{/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>

<div class="flex-container">
    <table>
        <caption>Users:</caption>
        <tr>
            <th>Login</th>
            <th>Email</th>
            <th>Password hash</th>
            <th>Account Actions</th>
        </tr>
        <tr th:each="user:${userList}">
            <td th:text="${user.getLogin()}"/>
            <td th:text="${user.getEmail()}"/>
            <td th:text="${user.getPassword()}"/>
            <td>
                <form sec:authorize="hasRole('ADMIN')"
                      th:action="@{'/users/'+${user.getId()}+'/delete'}"
                      method="POST">
                    <input type="submit" value="Delete user"/>
                </form>
            </td>
        </tr>
    </table>
</div>

<form th:action="@{/registration}" method="GET">
    <input type="submit" value="Create new user"/>
</form>

</body>
</html>